<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 使用CDN加速的CSS文件，配置在vue.config.js下 -->
    <% for (var i in css) { %>
    <link href="<%= css[i] %>" rel="stylesheet" />
    <% } %>
    <title><%= title %></title>
  </head>
  <body>
    <div id="app">
      <div id="load">
        <div>G</div>
        <div>N</div>
        <div>I</div>
        <div>D</div>
        <div>A</div>
        <div>O</div>
        <div>L</div>
      </div>
    </div>
    <script type="module" src="/src/main.ts"></script>
    <!-- 使用CDN加速的JS文件，配置在vue.config.js下 -->
    <% for (var i in js) { %>
    <script src="<%= js[i] %>"></script>
    <% } %>
  </body>
</html>
